<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <title>Staff Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h3>Staff Manager</h3>
<br>
<p>
  <a type="button" class="btn btn-primary" th:href="@{/staff/create}">ADD NEW STAFF</a>
</p>
<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<div>
  <form action="/staff/search" method="post">
    <table >
      <tr>
        <td>
          <input type="text" placeholder="Search"name="search">
        </td>
        <td>
          <button type="submit" class="btn btn-outline-success">Search</button>
        </td>
      </tr>
    </table>
  </form>
  <br>
</div>
<table id ="staffs">
  <thead>
  <tr>
    <th style="text-align: center">Employee Code</th>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">Age</th>
    <th style="text-align: center">Salary</th>
    <th style="text-align: center">Branch</th>
    <th colspan="2" style="text-align: center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="s : ${staffs}">
    <td th:text="${s.getStaffCode()}"></td>
    <td><a th:href="@{/staff/{id}/view(id=${s.getIdStaff()})}" th:text="${s.getStaffName()}"></a></td>
    <td th:text="${s.getStaffAge()}"></td>
    <td th:text="${s.getSalary()}"></td>
    <td th:text="${s.getBranch().getNameBranch()}"></td>

    <td style="text-align: center"><a class="btn btn-warning" th:href="@{/staff/{id}/edit(id=${s.getIdStaff()})}">EDIT</a></td>
    <td style="text-align: center"><a type="button" class="btn btn-danger" th:href="@{/staff/{id}/delete(id=${s.getIdStaff()})}">DELETE</a></td>
  </tr>
  </tbody>

</table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>